.home-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -2; /* Ajusta el z-index para asegurarse de que esté detrás del nav */
}

.home-content {
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
}

.home-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-buttons button {
  padding: 15px 30px;
  background-color: #ff4655;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.home-buttons button:hover {
  background-color: #e63946;
}
